bode{
  font-family: "Montserrat";
}
#title{
  background-color: red;
  color: #fff;
}
h1{

  font-family: 'Kanit', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
}
h3{
  font-family: "Montserrat-bold";
  font-weight: bold;
}
h4{
  font-family: "Montserrat-bold";
  font-weight: bold;
  font-size: 3rem;
  color: black;
}
p{
  color: #AFAFAF;
}
.container-fluid{
  padding: 3% 15%;
}
/* Navigation bar */
.navbar{
  padding-bottom: 2.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding-bottom: 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}
/* Download button */
.download-button{
  margin: 5% 3% 5% 0%;
}
/* Title image */
.title-image{
  width: 60%;
}
/* feature section */
#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1.5rem;
}
.icon:hover{
    color: #ff4668;
}
/* testomonial section */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: red;
  color: #fff;
}
.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

#press{
  background-color: red;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}
#cta{
  padding-top: 5%;
  background-color: red;
  color: #fff;
  text-align: center;
}
#footer{
  text-align: center;
  color: red;
}
